
.border-three {
    border: 1px solid #00d0ff;
}

.border-two {
    border: 1px solid #00d0ff;
}
.border {
    border: 1px solid #00d0ff;
}
.bgr {
    background: url("../../images/react.png");
    height: 200px;
}
